@font-face {
    font-family:'bungee-regular';
    src: url('font/bungee/Bungee-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'NotoSansSC';
    src: url('font/noto-sans-sc/NotoSansSC-Bold.otf');
    font-weight:bold;
    font-style: normal;
}

@font-face {
    font-family:'NotoSansSC-normal';
    src: url('font/noto-sans-sc/NotoSansSC-Regular.otf');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family:'NotoSansSC-light';
    src: url('font/noto-sans-sc/NotoSansSC-Light.otf');
    font-weight:normal;
    font-style:normal;
}

body {
    background-image: url('image/Interface.png');
    width:100%;
    height:100%;
    background-size:inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


h1{
    font-family: "bungee-regular";
    font-size:xx-large;
}

.btn:hover{
    scale: 1.1;
}

.btn1{
    font-family: 'NotoSansSC';
    font-weight: normal;
    font-style: normal;
    font-size: 18pt;
    background-color:rgb(255, 255, 255,0.5);
    height: 80px;
    width: 300px;
    border: none;
    border-radius: 15pt;
}

.btn2{
    
    border: none;
    border-radius: 15pt;
}

.div1{
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 65%;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 20pt;
    justify-content: center;
    display: flex;
}
.div3{
    height: 200px;
    width: 300px;
    margin-left: 65%;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 20pt;
    justify-content: center;
    display: flex;
}



.audioName{
    font-family: 'NotoSansSC-light';
    font-size: 12pt;
    margin-top: 20px;
    position: absolute;
}

.pred1{
    font-family: 'NotoSansSC-normal';
    font-size: 18pt;
    margin: auto;
    margin-top: 20px;
}

.pred2{
    font-family: 'NotoSansSC';
    font-size: 15pt;
    margin: auto;
}